.hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px auto; }

.p-0 {
  padding: 0px !important; }

.p-10 {
  padding: 10px !important; }

.p-15 {
  padding: 15px !important; }

.p-20 {
  padding: 20px !important; }

.p-30 {
  padding: 30px !important; }

.p-l-0 {
  padding-left: 0px !important; }

.p-l-10 {
  padding-left: 10px !important; }

.p-l-15 {
  padding-left: 15px !important; }

.p-l-20 {
  padding-left: 20px !important; }

.p-l-30 {
  padding-left: 30px !important; }

.p-r-0 {
  padding-right: 0px !important; }

.p-r-5 {
  padding-right: 5px !important; }

.p-r-10 {
  padding-right: 10px !important; }

.p-r-15 {
  padding-right: 15px !important; }

.p-r-20 {
  padding-right: 20px !important; }

.p-r-30 {
  padding-right: 30px !important; }

.p-r-40 {
  padding-right: 40px !important; }

.p-t-0 {
  padding-top: 0px !important; }

.p-t-10 {
  padding-top: 10px !important; }

.p-t-15 {
  padding-top: 15px !important; }

.p-t-20 {
  padding-top: 20px !important; }

.p-t-30, .collar-card {
  padding-top: 30px !important; }

.p-b-0 {
  padding-bottom: 0px !important; }

.p-b-10 {
  padding-bottom: 10px !important; }

.p-b-15 {
  padding-bottom: 15px !important; }

.p-b-20 {
  padding-bottom: 20px !important; }

.p-b-30 {
  padding-bottom: 30px !important; }

.p-b-40 {
  padding-bottom: 40px !important; }

.m-0 {
  margin: 0px !important; }

.m-l-5 {
  margin-left: 5px !important; }

.m-l-10 {
  margin-left: 10px !important; }

.m-l-15 {
  margin-left: 15px !important; }

.m-l-20 {
  margin-left: 20px !important; }

.m-l-30 {
  margin-left: 30px !important; }

.m-l-40 {
  margin-left: 40px !important; }

.m-r-5 {
  margin-right: 5px !important; }

.m-r-10 {
  margin-right: 10px !important; }

.m-r-15 {
  margin-right: 15px !important; }

.m-r-20 {
  margin-right: 20px !important; }

.m-r-30 {
  margin-right: 30px !important; }

.m-r-40 {
  margin-right: 40px !important; }

.m-t-5 {
  margin-top: 5px !important; }

.m-t-0 {
  margin-top: 0px !important; }

.m-t-10 {
  margin-top: 10px !important; }

.m-t-15 {
  margin-top: 15px !important; }

.m-t-20 {
  margin-top: 20px !important; }

.m-t-30 {
  margin-top: 30px !important; }

.m-t-40 {
  margin-top: 40px !important; }

.m-b-0 {
  margin-bottom: 0px !important; }

.m-b-5 {
  margin-bottom: 5px !important; }

.m-b-10 {
  margin-bottom: 10px !important; }

.m-b-15 {
  margin-bottom: 15px !important; }

.m-b-20 {
  margin-bottom: 20px !important; }

.m-b-30 {
  margin-bottom: 30px !important; }

.m-b-40 {
  margin-bottom: 40px !important; }

.vt {
  vertical-align: top; }

.vb {
  vertical-align: bottom; }

.font-bold {
  font-weight: 700; }

.font-medium {
  font-weight: 500; }

.font-normal {
  font-weight: normal; }

.font-light {
  font-weight: 300; }

.text-white {
  color: #ffffff; }

.text-danger {
  color: #ff7676; }

.text-muted {
  color: #8d9ea7; }

.text-warning {
  color: #ffc36d; }

.text-success {
  color: #53e69d; }

.text-info {
  color: #2cabe3; }

.text-inverse {
  color: #4c5667; }

.text-blue {
  color: #02bec9; }

.text-purple {
  color: #707cd2; }

.text-primary {
  color: #707cd2; }

.text-megna {
  color: #01c0c8; }

.text-dark {
  color: #313131 !important; }

.text-center, .collar-card {
  text-align: center; }

.text-right {
  text-align: right; }

.fw-500 {
  font-weight: 500; }

.bg-primary {
  background-color: #707cd2 !important; }

.bg-success {
  background-color: #53e69d !important; }

.bg-info {
  background-color: #2cabe3 !important; }

.bg-warning {
  background-color: #ffc36d !important; }

.bg-danger {
  background-color: #ff7676 !important; }

.bg-theme-alt {
  background-color: #ff7676 !important; }

.bg-theme {
  background-color: #2cabe3 !important; }

.bg-theme-dark {
  background-color: #4F5467 !important; }

.bg-inverse {
  background-color: #4c5667 !important; }

.bg-purple {
  background-color: #707cd2 !important; }

.bg-white {
  background-color: #ffffff !important; }

.bg-light {
  background-color: #e4e7ea !important; }

.bg-extralight {
  background-color: #f7fafc !important; }

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0) translate(0, 0);
  -moz-transform: scale(0) translate(0, 0);
  -ms-transform: scale(0) translate(0, 0);
  -o-transform: scale(0) translate(0, 0);
  transform: scale(0) translate(0, 0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  pointer-events: none; }

.waves-effect.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
  background: -webkit-radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: -o-radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: -moz-radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%); }

.waves-effect.waves-classic .waves-ripple {
  background: rgba(0, 0, 0, 0.2); }

.waves-effect.waves-classic.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4); }

.waves-notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important; }

.waves-button, .waves-circle {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%); }

.waves-button, .waves-button-input, .waves-button:hover, .waves-button:visited {
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  outline: none;
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  z-index: 1; }

.waves-button {
  padding: 0.85em 1.1em;
  border-radius: 0.2em; }

.waves-button-input {
  margin: 0;
  padding: 0.85em 1.1em; }

.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom; }

.waves-input-wrapper.waves-button {
  padding: 0; }

.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1; }

.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%; }

.waves-float {
  -webkit-mask-image: none;
  -webkit-box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms; }

.waves-float:active {
  -webkit-box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3); }

.waves-block {
  display: block; }

.display-none {
  display: none; }

/*custom*/
.weui-cells {
  font-size: 16px; }

.weui-cells_form .weui-cell__ft {
  font-size: 16px; }

.weui-cell {
  padding: 15px; }

.weui-input {
  text-align: right; }

.flex-wrap {
  flex-wrap: wrap; }

#pre-loader {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  margin-top: 0px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  overflow: hidden !important;
  right: 0px;
  z-index: 999999; }

#pre-loader img {
  text-align: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  z-index: 99;
  margin: 0 auto; }

.weui-select {
  direction: rtl;
  height: 1.47058824em;
  line-height: 1.47058824; }

.weui-select option {
  direction: ltr; }

.weui-btn {
  font-size: 16px; }

.img-round {
  border-radius: 8px; }

.card-item {
  width: 50%;
  margin-top: 10px;
  box-sizing: border-box;
  position: relative; }

.card-item img {
  opacity: .4; }

.card-item .card-select-on {
  opacity: 1; }

.custom-card-btn {
  border: 1px solid #ccc;
  width: 90%;
  margin: 0 auto;
  border-radius: 8px;
  padding-bottom: 10px;
  color: #C0C0C0; }

.custom-card-popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  z-index: 99;
  background: #fff; }

.photo-clip-layer {
  width: 300px;
  height: 180px; }

.photo-clip-move-layer {
  transform-origin: 0px 0px;
  transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
  transition-duration: 0ms;
  transform: translate(150px, 90px) scale(1) translateZ(0px);
  touch-action: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 0px;
  height: 0px; }

.photo-clip-mask {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none; }

.photo-clip-mask-left {
  position: absolute;
  left: 0px;
  right: 50%;
  top: 50%;
  bottom: 50%;
  width: auto;
  background-color: rgba(0, 0, 0, 0.5);
  margin-right: 150px;
  margin-top: -90px;
  margin-bottom: -90px; }

.photo-clip-mask-right {
  position: absolute;
  left: 50%;
  right: 0px;
  top: 50%;
  bottom: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 150px;
  margin-top: -90px;
  margin-bottom: -90px; }

.photo-clip-mask-top {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 90px; }

.photo-clip-mask-bottom {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 50%;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 90px; }

.photo-clip-area {
  border: 2px dashed #dddddd;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 180px;
  transform: translate(-50%, -50%); }

.view-card {
  width: 100%;
  background: #f0f0f0;
  border-radius: 8px; }

.weui-count .weui-count__btn {
  border-radius: 0;
  border-color: #999; }

.weui-count .weui-count__btn:after, .weui-count .weui-count__btn:before {
  background-color: #999; }

.weui-count .weui-count__increase {
  background: none; }

.card-list-item {
  position: relative;
  color: #fff;
  line-height: 0;
  margin-bottom: 15px; }

.card-list-item .img-logo-card {
  width: 60;
  height: 60px;
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 50%; }

.card-list-item .img-card-item {
  border-radius: 8px; }

.card-list-item .card-list-number {
  position: absolute;
  bottom: 24px;
  left: 20px;
  z-index: 11; }

.card-list-item .card-list-city {
  position: absolute;
  bottom: 48px;
  left: 20px;
  z-index: 11; }

.card-list-item .card-list-value {
  position: absolute;
  bottom: 36px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: right;
  z-index: 11; }

.card-list-item .card-list-mask {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0;
  height: 70px;
  background: #000;
  opacity: .4;
  border-radius: 0 0 8px 8px;
  z-index: 10; }

.card-list-item .card-list-btn {
  position: absolute;
  top: 20px;
  right: 20px; }

.card-list-item .card-list-btn .weui-btn {
  font-size: 14px; }

.card-list-item .card-list-btn .weui-btn_mini {
  padding: 0 8px;
  line-height: 2.2; }

.account-info {
  background: #fc615d;
  height: 145px;
  text-align: center;
  color: #fff;
  padding-top: 30px; }

.account-info .account-avatar {
  width: 40%;
  max-width: 60px;
  border-radius: 50%; }

.buy-label-list {
  font-size: 12px;
  color: #999; }

.label-danger {
  border: 1px solid #ff7676;
  color: #ff7676;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 2px; }

.weui-payselect {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap; }
  .weui-payselect-li {
    width: 33.3333%;
    min-width: 33.3333%;
    max-width: 33.3333%;
    padding: 10px;
    box-sizing: border-box; }
    .weui-payselect-li a {
      height: 60px;
      line-height: 60px; }
    .weui-payselect-li .weui-payselect-on {
      background: #e64340;
      color: #fff; }

.weui-form-preview {
  font-size: 14px;
  margin-bottom: 10px;
  color: #000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  .weui-form-preview:before, .weui-form-preview:after {
    border: none; }
  .weui-form-preview__hd:after {
    right: 15px; }
  .weui-form-preview__bd, .weui-form-preview__label {
    color: #666; }
  .weui-form-preview a {
    color: #000; }

.filter-bar {
  position: fixed;
  width: 100%;
  background: #fff;
  color: #000;
  z-index: 9999; }
  .filter-bar .weui-cells {
    font-size: 12px;
    padding: 0; }
  .filter-bar .weui-cell_select .weui-cell__bd:after {
    content: none; }
  .filter-bar .weui-input {
    text-align: center; }
  .filter-bar .weui-btn {
    font-size: 12px; }
  .filter-bar .weui-btn_mini {
    padding: 3px 6px;
    line-height: 1.5; }

.no-data {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -90px;
  text-align: center;
  color: #999; }
  .no-data img {
    width: 100%;
    max-width: 200px; }

.collar-card {
  height: 160px;
  background: #f8f8f8;
  position: relative; }
  .collar-card-logo img {
    width: 50%; }
  .collar-card .user-info {
    width: 100%;
    position: absolute;
    bottom: -230px; }
    .collar-card .user-info img {
      width: 100px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%; }
    .collar-card .user-info p {
      color: #999; }

.swiper-wrapper img {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px; }

.weui-form-preview .weui-form-preview__btn_disable {
  pointer-events: none;
  color: #999; }

/*# sourceMappingURL=style.css.map */
